matplotlib >= 3.10         # com.inbravo.matplot
pandas >= 2.2.1            # com.inbravo.pandas
torch >= 2.3.0             # com.inbravo.llm
jupyterlab >= 4.0          # com.inbravo.llm
tiktoken >= 0.5.1          # com.inbravo.llm
tensorflow >= 2.18.0       # com.inbravo.llm
tqdm >= 4.66.1             # com.inbravo.llm
numpy >= 1.26, < 2.1       # dependency of several other libraries like torch and pandas
psutil >= 5.9.5            # com.inbravo.llm; as dependency of torch